<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=10.200.0.24;Initial Catalog=MvcBasicSite; Persist Security Info=True;User ID=sa;Password=welcome1!" providerName="System.Data.SqlClient"/>

    <!--<add name="ApplicationServices" connectionString="Data Source=192.168.1.170;Initial Catalog=CPTRadInfo; Persist Security Info=True;User ID=act_db_user;Password=Welcome3!" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>-->

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="RadInfoCrud.CPTMappingservice">
        <endpoint address="Soap" binding="basicHttpBinding" bindingConfiguration=""
          name="Soap" contract="RadInfoCrud.ICPTMappingservice" />
        <endpoint behaviorConfiguration="RestBehavior" binding="webHttpBinding"
          bindingConfiguration="" name="REST" contract="RadInfoCrud.ICPTMappingservice" />
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
